# Configure external ultrawide monitor
{{- $xiaomi := index .MonitorsByTag "xiaomi-34" -}}
{{- if $xiaomi }}
# Configure monitor
monitor={{$xiaomi.Name}},3440x1440@144.00000,-1000x-1440,1.00000000,transform,0,vrr,0

# Assign workspaces to monitor
workspace = 1,monitor:{{$xiaomi.Name}}
workspace = 2,monitor:{{$xiaomi.Name}}
workspace = 3,monitor:{{$xiaomi.Name}}
workspace = 4,monitor:{{$xiaomi.Name}}
workspace = 5,monitor:{{$xiaomi.Name}}
workspace = 6,monitor:{{$xiaomi.Name}}
workspace = 7,monitor:{{$xiaomi.Name}}
workspace = 8,monitor:{{$xiaomi.Name}}

{{ end }}

# Configure laptop screen
{{- $laptop := index .MonitorsByTag "laptop" -}}
{{- if $laptop }}

monitor={{$laptop.Name}},disable

{{ end }}

# Set Performance mode when docked and charging
{{- if and (not isOnBattery) $xiaomi }}
exec = powerprofilesctl set performance
{{ end }}
