{{- $xiaomi := index .MonitorsByTag "xiaomi-34" -}}
{{- if $xiaomi }}
hl.monitor({
	output = "{{$xiaomi.Name}}",
	mode = "3440x1440@100.00000",
	position = "2280x1200",
	scale = 1,
	transform = 0,
	vrr = 0,
})

hl.workspace_rule({ workspace = "1", monitor = "{{$xiaomi.Name}}" })
hl.workspace_rule({ workspace = "2", monitor = "{{$xiaomi.Name}}" })
hl.workspace_rule({ workspace = "3", monitor = "{{$xiaomi.Name}}" })
hl.workspace_rule({ workspace = "4", monitor = "{{$xiaomi.Name}}" })
hl.workspace_rule({ workspace = "5", monitor = "{{$xiaomi.Name}}" })
hl.workspace_rule({ workspace = "6", monitor = "{{$xiaomi.Name}}" })
hl.workspace_rule({ workspace = "7", monitor = "{{$xiaomi.Name}}" })
hl.workspace_rule({ workspace = "8", monitor = "{{$xiaomi.Name}}" })

hl.exec_cmd("hyprctl keyword animation workspaces, 1, 0.8, default")

hl.window_rule({ match = { class = "(code)$" }, opacity = "1 override 0.90 override 1 override" })
hl.window_rule({ match = { title = ".*Cursor.*" }, opacity = "1 override 0.90 override 1 override" })
hl.window_rule({ match = { class = "(dev.zed.Zed-Nightly)$" }, opacity = "1 override 0.90 override 1 override" })
hl.window_rule({ match = { class = "(obsidian)$" }, opacity = "1 override 0.90 override 1 override" })

hl.config({ general = { gaps_out = 5 } })
{{ end }}

{{- $dell := index .MonitorsByTag "dell-24" -}}
{{- if $dell }}
hl.monitor({
	output = "{{$dell.Name}}",
	mode = "1920x1200@59.95000",
	position = "1080x1250",
	scale = 1,
	transform = 1,
	vrr = 0,
})

hl.workspace_rule({ workspace = "9", monitor = "{{$dell.Name}}" })
hl.dispatch(hl.dsp.workspace.move({ workspace = "9", monitor = "{{$dell.Name}}" }))
{{ end }}

{{- $laptop := index .MonitorsByTag "laptop" -}}
{{- if $laptop }}
hl.monitor({ output = "{{$laptop.Name}}", disabled = true })
{{ end }}

{{- if and (not isOnBattery) (or $xiaomi $dell) }}
hl.exec_cmd("powerprofilesctl set performance")
{{ end }}
