{{- $xiaomi := index .MonitorsByTag "xiaomi-34" -}}
{{- if $xiaomi }}
hl.monitor({
	output = "{{$xiaomi.Name}}",
	mode = "3440x1440@50.00000",
	position = "-1000x-1440",
	scale = 1,
	transform = 0,
	vrr = 0,
})

hl.workspace_rule({ workspace = "1", monitor = "{{$xiaomi.Name}}" })
hl.workspace_rule({ workspace = "2", monitor = "{{$xiaomi.Name}}" })
hl.workspace_rule({ workspace = "3", monitor = "{{$xiaomi.Name}}" })
hl.workspace_rule({ workspace = "4", monitor = "{{$xiaomi.Name}}" })
hl.workspace_rule({ workspace = "5", monitor = "{{$xiaomi.Name}}" })
hl.workspace_rule({ workspace = "6", monitor = "{{$xiaomi.Name}}" })
hl.workspace_rule({ workspace = "7", monitor = "{{$xiaomi.Name}}" })
hl.workspace_rule({ workspace = "8", monitor = "{{$xiaomi.Name}}" })

hl.config({ general = { gaps_out = 5 } })
{{ end }}

{{- $laptop := index .MonitorsByTag "laptop" -}}
{{- if $laptop }}
hl.monitor({
	output = "{{$laptop.Name}}",
	mode = "2256x1504@60.00000",
	position = "0x0",
	scale = 1.56666667,
	transform = 0,
	vrr = 0,
})
{{ end }}

{{- if and (not isOnBattery) $xiaomi }}
hl.exec_cmd("powerprofilesctl set performance")
{{ end }}
