{{- $xiaomi := index .MonitorsByTag "xiaomi-34" -}}
{{- if $xiaomi }}
# Configure monitor
monitor={{$xiaomi.Name}},3440x1440@100.00000,2280x1200,1.00000000,transform,0,vrr,0

# Assign workspaces to monitor
workspace = 1,monitor:{{$xiaomi.Name}}
workspace = 2,monitor:{{$xiaomi.Name}}
workspace = 3,monitor:{{$xiaomi.Name}}
workspace = 4,monitor:{{$xiaomi.Name}}
workspace = 5,monitor:{{$xiaomi.Name}}
workspace = 6,monitor:{{$xiaomi.Name}}
workspace = 7,monitor:{{$xiaomi.Name}}
workspace = 8,monitor:{{$xiaomi.Name}}

exec = hyprctl keyword animation workspaces, 1, 0.8, default

# Adjust transparency for specific apps
windowrule = opacity 0.98 override 0.90 override 0.98 override, class:(code)$
windowrule = opacity 0.98 override 0.90 override 0.98 override, title:.*Cursor.*
windowrule = opacity 0.98 override 0.90 override 0.98 override, class:(dev.zed.Zed-Nightly)$
windowrule = opacity 0.98 override 0.90 override 0.98 override, class:(obsidian)$

{{ end }}

{{- $dell := index .MonitorsByTag "dell-24" -}}
{{- if $dell }}

monitor={{$dell.Name}},1920x1200@59.95000,1080x1250,1.00000000,transform,1,vrr,0
# monitor={{$dell.Name}},disable

# Assign workspaces to monitor
workspace = 9,monitor:{{$dell.Name}}
exec = hyprctl dispatch moveworkspacetomonitor 9 {{$dell.Name}}

{{ end }}

# Disable laptop screen
{{- $laptop := index .MonitorsByTag "laptop" -}}
{{- if $laptop }}
monitor={{$laptop.Name}},disable
{{ end }}

# Set Performance mode when docked and charging
{{- if and (not isOnBattery) (or $xiaomi $dell) }}
exec = powerprofilesctl set performance
{{ end }}
