hl.monitor({
	output = "desc:Philips Consumer Electronics Company Philips UHDTV 0x01010101",
	mode = "3840x2160@30.00000",
	position = "0x0",
	scale = 2,
	transform = 0,
	vrr = 0,
})

hl.config({ general = { gaps_out = 5 } })
