hl.monitor({
	output = "desc:BOE 0x0BCA",
	mode = "2256x1504@59.99900",
	position = "0x0",
	scale = 1.56666667,
	transform = 0,
	vrr = 0,
})
hl.monitor({
	output = "desc:Philips Consumer Electronics Company Philips UHDTV 0x01010101",
	mode = "3840x2160@60.00000",
	position = "1440x-120",
	scale = 2,
	transform = 0,
	vrr = 0,
})

hl.config({ general = { gaps_out = 5 } })
