# Configure laptop screen
{{- $laptop := index .MonitorsByTag "laptop" -}}
{{- if $laptop }}

monitor={{$laptop.Name}},2256x1504@60.00000,0x0,1.56666667,transform,0,vrr,0

# Adjust transparency for specific apps
windowrule = opacity 0.95 override 0.90 override 0.95 override, class:(code)$
windowrule = opacity 0.95 override 0.90 override 0.95 override, title:.*Cursor.*
windowrule = opacity 0.95 override 0.90 override 0.95 override, class:(dev.zed.Zed-Nightly)$
windowrule = opacity 0.95 override 0.90 override 0.98 override, class:(obsidian)$


{{ end }}

{{- if isOnBattery }}

# Decrease brightness to 80% if it's greater than 80%
# exec = brillo -O && brightness=$(brillo -G) && [ $(echo "$brightness > 80" | bc) -eq 1 ] && brillo -e -u 150000 -S 80

{{end }}
